{% extends 'dashboard/dashboardbase.html' %}
{% load static %}

{% block title %}Delete Students{% endblock title %}
{% block ManageAndDeleteStudentActive %}active{% endblock ManageAndDeleteStudentActive %}

{% block body %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Manage Students</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Students</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Roll No.</th>
                            <th>Class</th>
                            <th>Age</th>
                            <th>Father's CNIC</th>
                            <th>DELETE</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for student in studentdata %}
                        <tr>
                            <td>{{student.name}}</td>                            
                            <td>{{student.roll_number}}</td>                            
                            <td>{{student.student_class}}</td>                            
                            <td>{{student.age}}</td>                            
                            <td>{{student.father_cnic}}</td>                            
                            <td>
                                <a href="{% url 'deletestudent' Id=student.id %}" class="link-danger">
                                    Delete
                                </a>
                            </td>                            
                        </tr>
                        {% endfor %}                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}