{% extends 'dashboard/dashboardbase.html' %}
{% load static %}

{% block DashboardActive %}active{% endblock DashboardActive %}

{% block body %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Upcoming Tests</h1>
    <div class="text-right">
        <a href="{% url 'classdetails' Id=classid %}"><button type="button" class="btn btn-primary text-center">Go Back</button></a>
    </div>
</div>

{% for test in tests  %}
<div class="col-lg-7 mx-auto">
    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">{{test.subject}}</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample">
            <div class="card-body">
                {{test.description}}
                
                <hr>
                <h6 class="m-0 font-weight-bold text-dark">Dated: {{test.date}}</h6>
                {% if request.user.is_school %}
                <a href="{% url 'deletetest' Id=test.id %}">
                <button type="button" class="close mx-2 my-3"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock body %}